/*@charset "UTF-8";
	@namespace "http://www.w3.org/1999/xhtml";
@namespace epub "http://www.idpf.org/2007/ops";*/

@font-face {
	font-family: 'Conv_SourceSansPro-Light';
	src: local(''), url('../fonts/SourceSansPro-Light.woff') format('woff'), url('../fonts/SourceSansPro-Light.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Conv_InklingSerifWeb-Regular';
	src: local(''), url('../fonts/InklingSerifWeb-Regular.woff') format('woff'), url('../fonts/InklingSerifWeb-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Conv_SourceSansPro-Regular';
	src: local(''), url('../fonts/SourceSansPro-Regular.woff') format('woff'), url('../fonts/SourceSansPro-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Conv_SourceSansPro-Bold';
	src: local(''), url('../fonts/SourceSansPro-Bold.woff') format('woff'), url('../fonts/SourceSansPro-Bold.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

body {
	font-family: "Conv_InklingSerifWeb-Regular", Georgia, serif;
	font-weight: 100;
	font-size: 18px;
	line-height: 1.5;
	margin: 0px;
	padding: 0px;
	width: 100%;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}

p {
	padding: 0;
	margin-bottom: 0px;
}

hgroup,
figure.block,
section {
	display: block;
}

hgroup#covertitle {
	margin-top: 4em;
}

hgroup#covertitle h2 {
	margin-left: 8em;
}

h1,
h2 {
	font-weight: normal;
}

h1 {
	margin-bottom: 0.3em;
}

h2 {
	margin-top: 0em;
	margin-left: 4em;
	font-size: 95%;
}

a:link,
a:visited,
a:hover,
a:active {
	color: inherit;
}

.main-document-area.mcq {
    height: 100vh;
    overflow: hidden;
    font-family: "Conv_SourceSansPro-Regular";
}
.main-document-area {
    background-color: white;
    position: relative;
    /*max-width: 979px;*/
    margin: 0 auto 0;
}
.mcq .mcq_inner, .mcq .tab-content {
    height: 100%;
}
.mcq_inner .tab-pane-main {
    height: calc(100% - 85px);
    overflow-x: hidden;
    overflow-y: auto;
    width: 100%;
    margin: auto;
    padding: 30px 25px 70px !important;
    box-sizing: border-box;
	position:relative;
}
.mcq_inner .tab-pane-main .tab-pane {
    width: 100%;
    max-width: 600px;
    margin: auto;
    padding: 0;
}
.tab-pane.active {
    display: block;
}
.active, .slide-thumbnail:hover {
    opacity: 1;
}
.tab-pane {
    display: none;
    padding: 10px 20px;
}

.answer-controls {
    border-bottom: 1px solid #E6E6E6;
    padding-bottom: 10px;
    margin-top: 18px;
}
.mcq #questionNumber {
    font-size: 14px;
    color: #007cb6;
    font-weight: 600;
    margin-bottom: 5px;
}
#questionName {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: #757575;
    margin-bottom: 20px;
    margin-top: 0px;
}
.content-heading h5, .content-heading #subheading2, .content-heading #subheading3 {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: #757575;
    margin-bottom: 20px;
    margin-top: 0px;
}
.Multiple-choice {
    list-style-type: none;
    text-align: center;
    padding-left: 0px;
}

.focus-input {
    background: #fff;
    border-style: solid;
    border-color: #CDCDCD;
    border-width: 1px 1px 0 1px;
    padding: 16px 60px 16px 16px;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    color: #757575;
    text-align: justify;
}
.focus-input.active {
    outline: 2px solid #007cb6;
    color: #007cb6;
    outline-offset: -1px;
}
.active, .slide-thumbnail:hover {
    opacity: 1;
}

.focus-input.wrong {
    outline: 2px solid #cb272a;
    outline-offset: -1px;
    color: #cb272a;
    position: relative;
}
.Multiple-choice .focus-input:last-child {
    border-width: 1px 1px 1px 1px;
}
.focus-input.last-child {
    outline: 2px solid #63a83b;
    outline-offset: -1px;
    color: #63a83b;
    position: relative;
    border-bottom-width: 1px;
}
.already-answered {
    pointer-events: none;
}

.correct {
    color: #63a83b;
    font-weight: 600;
    font-size: 14px;
}
.answer-controls p, .answer-controls-check p, .try-again p {
    color: #757575;
    font-weight: 500;
    font-size: 14px;
    margin-top: 0px;
}

i {
    color: #000;
}
.mcq button#mcq_button {
    border: 2px solid transparent;
}
.check, .check-try-again {
    border: none;
    outline: none;
    color: #FFF;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0;
    font-weight: 400;
    padding: 8px 12px;
    cursor: pointer;
    display: inline-block;
    background-color: #007cb6;
    float: right;
    margin-top: 20px;
}
.mcq button#mcq_button {
    border: 2px solid transparent;
	position: absolute;
    bottom: 0px;
    right: 20px;
}
.check.disabled, .check-try-again.disabled {
    pointer-events: none;
    background-color: #EDEDED;
    color: #BFBFBF;
}
.disabled {
    pointer-events: none;
    color: lightgray!important;
}
.focus-input.last-child:after {
    position: absolute;
    top: 50%;
    background-size: 100%;
    margin-top: -12px;
    content: " ";
    left: auto;
    right: 20px;
    height: 24px;
    width: 24px;
    text-align: center;
    font-weight: bold;
    background-image: url(../images/assessment_check_large.png);
    line-height: 24px;
    padding: 0;
    box-sizing: border-box;
    color: #63a83b;
    font-size: 18px;
}
.focus-input.wrong:after {
    position: absolute;
    top: 50%;
    background-size: 100%;
    margin-top: -12px;
    content: " ";
    left: auto;
    right: 20px;
    height: 24px;
    width: 24px;
    text-align: center;
    font-weight: bold;
    background-image: url(../images/x.png);
    line-height: 24px;
    padding: 0;
    box-sizing: border-box;
    color: #63a83b;
    font-size: 18px;
}

.text-link {
    color: #007cb6;
    cursor: pointer;
}

.mcq footer {
    position: fixed;
    left: 0px;
    right: 0px;
    bottom: 0;
}

.mcq .arrow-mask.left {
    background: url(../images/figure_arrow_mask_left.png);
    left: 0;
    z-index: 9;
}

.arrow-left.outer, .arrow-right.outer {
    background: url(../images/image_figure_controls.png);
    background-size: 211px;
    width: 30px;
    height: 43px;
    z-index: 204;
    position: absolute;
    top: 22px;
    cursor: pointer;
}
.arrow-mask {
    position: absolute;
    height: 90px;
    width: 70px;
}
.mcq_toolbar_main {
    overflow: hidden;
    padding: 0;
    background: #f2f2f6;
}
.mcq .arrow-mask.right {
    right: 0;
    z-index: 1;
    background: url(../images/figure_arrow_mask_right.png);
    position: absolute;
    right: 0px;
    top: 0px;
}
.arrow-mask.right {
    position: absolute;
    right: 0;
}

.arrow-right.outer {
    background-position: -107px 0;
    right: 19px;
}
.arrow-left.outer {
    background-position: -74px 0;
    left: 15px;
}
.steps {
    background: #fff;
    width: auto;
    transform: translate(3.5px, 0px);
}
.nav.nav-tabs.md-tabs.nav-justified {
    flex-wrap: nowrap;
    display: flex;
    list-style: none;
    text-align: center;
    /* overflow: hidden; */
    margin: 0px 22px;
    position: relative;
    left: 0;
}
.steps li.nav-item {
    margin: 28px 4px;
    border-radius: 15px;
    line-height: 15px;
}
.step.active, .step.active:hover {
    color: #fff;
    background: #007cb6;
    border: 1px solid #007cb6;
}
.active, .slide-thumbnail:hover {
    opacity: 1;
}
.step {
    position: relative;
    display: inline-block;
    width: 26px;
    height: 26px;
    border-radius: 15px;
    cursor: pointer;
    color: #757575;
    background: white;
    background-repeat: no-repeat;
    background-position: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    border: 1px solid #E3E3E3;
}
.step:hover {
    color: #007cb6;
    border: 1px solid #007cb6;
}
.step[data-correct="true"] {
    background-image: url(../images/check_normal.png);
    background-position: center;
    background-size: 24px;
    background-repeat: no-repeat;
    font-size: 0px;
}
.step.active[data-correct="true"], .step.active[data-correct="true"]:hover {
    background: #63a83b;
    border: 1px solid #63a83b;
    background-image: url(../images/assessment_check_white.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 24px;
    font-size: 0px;
}
.step[data-correct="true"]:hover {
    background-size: 0px;
    font-size: 14px;
    border: 1px solid #63a83b;
    color: #63a83b;
}
.not-quite {
    color: #cb272a;
    font-weight: 600;
    font-size: 14px;
}

.step.active[data-correct="false"], .step.active[data-correct="false"]:hover {
    background: #cb272a;
    border: 1px solid #cb272a;
    background-image: url(../images/false.png);
    background-position: center;
    background-size: 24px;
    background-repeat: no-repeat;
    font-size: 0px;
}
.step[data-correct="false"] {
    background-image: url(../images/false_red.png);
    background-position: center;
    background-size: 24px;
    background-repeat: no-repeat;
    font-size: 0px;
}
.step[data-correct="false"]:hover {
    background-size: 0px;
    font-size: 14px;
    border: 1px solid #cb272a;
    color: #cb272a;
}


.visually-hidden {
    border: 0;
    padding: 0;
    margin: 0;
    position: absolute !important;
    height: 0px;
    width: 0px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    white-space: nowrap;
}