/************* page css *************/
.main-slider-area {
	background-color: white;
	position: relative;
	margin: 0;
	padding: 0;
	height: 100vh;
	overflow: hidden;
	box-sizing: border-box;
}
.main-slider-area *:focus-visible {
	outline: none !important;
}
.main-slider-area img {
	vertical-align: middle;
}
.main-slider-area .holder {
	width: 100%;
	height: calc(100% - 90px);
}
.main-slider-area .thumbnail_main {
	width: 100%;
	position: fixed;
	bottom: 0;
	z-index: 99;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 80px;
	background-color: #fff;
	border-top: 1px solid #f2f2f6;
}
.pin {
    display: none;
}
.main-slider-area.slide7 .inner-slide-area {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100%;
	/*transform: scale(1.2) !important;*/
}
.img-tour #image-map {
    margin-top: 0px;
    position: relative;
    max-height: 100%;
    margin: auto;
    display: flex;
	width: auto !important;
    height: auto !important;
    /*transform: scale(1.2)*/
}
.slide7 #img {
    max-width: 490px!important;
    width: 490px!important;
    height: 482px;
}
.main-slider-area img {
    vertical-align: middle;
}

.tooltip-up, .tooltip-down, .tooltip-left {
    position: absolute;
    width: 30px;
    height: 30px;
    border: 3px solid var(--blue);
    background: white;
    color: var(--blue);
    /*font-size: 16px;*/
    font-weight: 700;
    border-radius: 16px;
    text-align: center;
    box-sizing: border-box;
    cursor: pointer;
    box-shadow: 0px 1px 4px rgb(0 0 0 / 35%);
}
.tooltip {
    display: none;
    border-radius: 8px;
    width: auto;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    left: unset;
    right: -1px;
    z-index: 999;
    padding: 10px;
    color: var(--primary-text);
    background: #fff;
    border: 3px solid var(--blue);
    box-sizing: border-box;
    box-shadow: 0px 1px 4px rgb(0 0 0 / 35%);
    cursor: auto;
    width: 250px;
}
.tooltip-left .tooltip {
    right: unset;
    left: -1px;
}
.tooltip-down .tooltip {
    top: unset;
    right: unset;
    bottom: -1px;
    left: 50%;
    transform: translate(-50%, 0);
}
.tooltipInner{
    font-size: 100%;
    padding: 4px;
}
.tooltipInner span{
    font-size: 100%;
}
.tooltip .pin-inner-txt {
    font-weight: 400;
    text-align: left;
    line-height: 1.2em;
    /*font-size: 85%;*/
}
.tooltip .pin-inner-txt p {
    margin: 0;
    padding: 0;
    font-weight: 400;
}
.tooltip .pin-inner-txt p b {
    font-size: 16px;
    font-weight: 700;
    color: var(--blue);
}
.tooltip-up:after, .tooltip-down:after, .tooltip-left:after {
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    -ms-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
    content: "";
    position: absolute;
    height: 13px;
    width: 17px;
    background-image: url(../images/web_arrow_poptip.png);
    background-position: -1px 0;
    background-size: 18px;
    left: 50%;
    margin-left: -8.5px;
    bottom: -14px;
}
.tooltip-left:after {
    top: 50%;
    margin-top: -8.5px;
    right: unset;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    -webkit-transform-origin: left top;
    -moz-transform-origin: left top;
    -ms-transform-origin: left top;
    transform-origin: left top;
    left: 0;
    margin-left: -1px;
}
.tooltip-up:after {
    top: 50%;
    margin-top: -8.5px;
    right: 0;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    -webkit-transform-origin: right top;
    -moz-transform-origin: right top;
    -ms-transform-origin: right top;
    transform-origin: right top;
    left: unset;
}
.refreshContainer {
    position: relative;
    width: 40px;
    height: 40px;
    margin: auto 5px;
}
.prevContainer, .nextContainer {
    margin: auto 5px;
}
.thumbnail_slidr {
    overflow: hidden;
}
.refreshContainer .refresh_btn {
    width: 30px;
    height: 30px;
    background-image: url(../images/refresh-default.svg);
    background-repeat: no-repeat;
    background-position: 4px 4px;
    cursor: pointer;
    border: 1px solid transparent;
    margin-top: 5px;
}
.refreshContainer .refresh_btn.disabled{
    background-image: url(../images/refresh-disabled.svg);
}
.refreshContainer .refresh_btn:hover{
    background-image: url(../images/refresh-hover.svg);
}
.refreshContainer .refresh_btn:focus-visible {
    background-image: url(../images/refresh-default.svg);
    border: 1px solid var(--orange);
}
.refreshContainer:after {
    content: " ";
    display: block;
    position: absolute;
    width: 1px;
    height: 43px;
    background-image: url(../images/guided_tour_refresh_line.png);
    left: 44px;
    top: -3px;
    margin: 0px 0px;
}
.prevContainer a, .nextContainer a {
    padding: 0px;
    width: 30px;
    height: 30px;
    display: block;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: 10px 10px;
    border: 1px solid transparent;
}
.prevContainer a {
    background-image: url(../images/left-arrow-default.svg);
    background-position: 7px 3px;
}
.prevContainer a.disabled{
    background-image: url(../images/left-arrow-disabled.svg);
}
.prevContainer a:hover{
    background-image: url(../images/left-arrow-hover.svg);
}
.nextContainer a {
    background-image: url(../images/right-arrow-default.svg);
    background-position: 9px 3px;
}
.nextContainer a.disabled{
    background-image: url(../images/right-arrow-disabled.svg);
}
.nextContainer a:hover {
    background-image: url(../images/right-arrow-hover.svg);
}
.prevContainer a:focus-visible, .nextContainer a:focus-visible {
    border: 1px solid var(--orange);
}
.disabled {
    pointer-events: none;
    color: lightgray!important;
}
ul.thumbnail_slidr_inner {
    left: 0;
    position: relative;
}
.thumbnail_slidr_inner {
    list-style: none;
    padding: 0;
    display: flex;
}
.main-slider-area.slide7 .thumbnail_main .column {
    height: 30px;
    width: 30px;
    /*background: #fff;
    border: 1px solid #E6E6E6;*/
    color: var(--primary-text);
    /*font-size: 16px;*/
    /*font-weight: 600;*/
    line-height: 22px;
    /*border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;*/
    text-align: center;
    margin: 17px 3px;
    box-shadow: none;
    border: 1px solid transparent;
}

.thumbnail_main .column.selected {
    /*background: var(--blue)!important;
    border: 1px solid var(--blue)!important;
    color: #fff!important;*/
    /*border-bottom: 2px solid var(--orange) !important;*/
}
.thumbnail_main .column.selected::before, .thumbnail_main .column:hover::before {
    content: " ";
    position: absolute;
    top: 24px;
    left: 6px;
    background-color: var(--orange);
    height: 2px;
    width: 60%;
}
.main-slider-area .thumbnail_main .column {
    height: 40px;
    width: 40px;
	/*border: 3px solid white;*/
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: auto 5px;
    box-shadow: 0 1px 3px rgb(0 0 0 / 20%);
    cursor: pointer;
    position: relative;
}
.main-slider-area.slide7 .thumbnail_main .column div {
    vertical-align: middle;
    text-align: center;
    line-height: 32px;
    height: 30px;
    width: 30px;
}
.main-slider-area.slide7 .thumbnail_main .column:focus-visible, 
.main-slider-area.slide7 .thumbnail_main .column div:focus-visible {
    border: 1px solid var(--orange);
}
.visually-hidden {
    border: 0;
    padding: 0;
    margin: 0;
    position: absolute !important;
    height: 0px;
    width: 0px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    white-space: nowrap;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
.slide7 #image-map {
    /*transform: scale(0.8) !important;*/
}

}
