/*** Zoomable Image - START  v17.2***/
figure.zoompop{
	position: relative;
}
figure.zoompop img{
	max-width: 100%;
	cursor: pointer;
	/*width: 100%;*/
}
figure.zoompop img.pulse-effect{
	transform: scale(1.01);
}
.zoom_image_popup img.zoom_image.zoom-default{
	max-width: 100%;
}
figure.zoompop{
	margin: 0px;
	margin-top: 30px;
}
figure.zoompop:hover,figure.zoompop:focus{
	margin-top: 30px;
}
figure.zoompop:before {
	content: "Click on Image to Zoom";
	position: absolute;
	top: -25px;
	left: 0;
	width: 100%;
	text-align: center;
	padding: 0px 5px 5px 5px;
	font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #2C5E6D;
}
.zoom_image_popup{
	display: none;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index:999;
}
.zoom_overlay{
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: #FFFFFF;
	top: 0;
	left: 0;
	z-index: -1;
}
.zoom_image_container{
	text-align: center;
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: auto;
	margin-top: 0px;
}
.zoom_image_head{
	text-align: center;
	padding: 10px;
	position: fixed;
	width: 100%;
	padding: 5px;
	z-index: 1;
	background-color: #FFFFFF;
	opacity: 0.6;
}
.zoom_image_head .zoomnavwrapperleft{
	position: relative;
	float: left;
	width: 49%;
	text-align: right;
}
.zoom_image_head .zoomnavwrapperright{
	position: relative;
	float: left;
	width: 49%;
	text-align: left;
}
.zoom_image_head .zoominbutton, 
.zoom_image_head .zoomoutbutton, 
.zoom_image_head .zoomclosebutton{
	border: none;
    cursor: pointer;
    width: 30px;
    height: 30px;
    padding: 10px;
    margin: 0 16px;
}
.zoominbutton{
	background: url('../images/zoom-in.png');
    background-size: cover;
}
.zoomoutbutton{
	background: url('../images/zoom-out.png');
	background-size: cover;
}
.zoomclosebutton{
	background: url('../images/close.png');
	background-size: cover;
	width: 24px !important;
    height: 24px !important;
}

.zoom_image_head .zoomleftmovebutton,
.zoom_image_head .zoomrightmovebutton,
.zoom_image_head .zoomupmovebutton,
.zoom_image_head .zoomdownmovebutton{
	position: absolute;
	border: none;
    cursor: pointer;
}
.zoom_image_head button img{
	width: 20px;
	padding: 5px 10px;
}
img.zoom_image{
	max-width:none;
	margin-top: 55px;
}
.zoom_image_head .btnzoomin img, .zoom_image_head .btnzoomout img{
	width: 30px;
	padding: 5px 10px;
}
.zoom_image_head .btnclosezoom img{
	width: 24px;
	padding: 5px 10px;
}

.fig-page-body
{
	margin-left:0px;
	margin-right:0px;
	margin-top:10px;
	margin-bottom:10px;
	padding:0px;
}

.stop-scrolling {
	overflow: hidden;
}
/*** Zoomable Image - END ***/
