.video-area {
	padding: 0px;
	overflow: hidden;
	height: 100%;
    width: 100%; 
}
video{
  width: 100vw;
  height: auto;
  max-height: 100%;
  object-fit: fill;
}
video::-internal-media-controls-download-button { 
    display:none; 
} 
 
video::-webkit-media-controls-enclosure { 
    overflow:hidden; 
} 
 
video::-webkit-media-controls-panel { 
    width: calc(100% + 30px); /* Adjust as needed */ 
}