/*@charset "UTF-8";
	@namespace "http://www.w3.org/1999/xhtml";
@namespace epub "http://www.idpf.org/2007/ops";*/

@font-face {
	font-family: 'Conv_SourceSansPro-Light';
	src: local(''), url('../fonts/SourceSansPro-Light.woff') format('woff'), url('../fonts/SourceSansPro-Light.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Conv_InklingSerifWeb-Regular';
	src: local(''), url('../fonts/InklingSerifWeb-Regular.woff') format('woff'), url('../fonts/InklingSerifWeb-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

p {
	padding: 0;
	margin-bottom: 0px;
}

hgroup,
figure.block,
section {
	display: block;
}

hgroup#covertitle {
	margin-top: 4em;
}

hgroup#covertitle h2 {
	margin-left: 8em;
}

h1,
h2 {
	font-weight: normal;
}

h1 {
	margin-bottom: 0.3em;
}

h2 {
	margin-top: 0em;
	margin-left: 4em;
	font-size: 95%;
}

a:link,
a:visited,
a:hover,
a:active {
	color: inherit;
}


/*-----  ques Ans  -----*/

.main-document-area {
	background-color: white;
	position: relative;
	max-width: 979px;
	margin: 0 auto 0;
}

.review {
	padding: 10px 120px;
	font-family: 'Conv_SourceSansPro-Regular';
	margin-top: 40px;
}

h1.review-heading {
	border-bottom: 2px solid rgba(0, 0, 0, 0.1);
	margin: 0;
	padding: 20px 0;
	font-family: "Conv_SourceSansPro-Light", Verdana, Helvetica, sans;
	font-size: 38px;
	font-weight: 200;
	line-height: 1.2;
	color: #5f1a65;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}

button.ans {
	color: #037bb5;
	display: inline-block;
	min-height: 1.6em;
	font-size: 1em;
	font-weight: 600;
	line-height: 1.5em;
	margin: 0.3em 0;
	padding-left: 1.2em;
	background: url(../images/icon_arrow_show_blue.png) no-repeat 0 0.2em;
	background-size: 24px;
	cursor: pointer;
	padding: 5px 14px 6px 40px;
	border-radius: 6px;
	background-position: 8px center;
	margin-left: -5px;
	font-family: "Conv_SourceSansPro-Light", Verdana, Helvetica, sans;
	border-style: none;
}

button.ans:hover {
	background-color: #f2f7fb;
}

.show-ans {
	background: url(../images/icon_arrow_hide_blue.png) no-repeat 0 0.2em !important;
	background-size: 24px !important;
	background-position: 8px center !important;
}
.show-ans:hover {
	background-color: #f2f7fb !important;
}

.answer {
	display: none;
}

.review ol.list-type {
	padding: 0px 20px;
}

::marker {
	color: #5f1a65;
	font-weight: 600;
	font-size: 17px;
	font-family: initial;
}

.review li ol {
	margin-left:0px !important;
	padding-left: 20px;
}

.review-main {
	padding: 15px;
	width: 100%;
	max-width: 740px;
	box-sizing: border-box;
	margin: 40px auto 0;
}

.review-main ol.list-type {
	padding: 0;
	list-style-type: none;
}

.review-main ol.list-type li {
	position: relative;
}

.review-main li ol {
	padding: 0;
	list-style-type: none;
}

.review-main .step-title {
	color: #5f1a65;
	font-size: 1em;
	font-weight: 700;
	white-space: nowrap;
	text-align: right;
	position: absolute;
	width: 2em;
	left: -1em;
	top: 0em;
	text-transform: capitalize;
	font-family: serif;
}

.review-main .step-info {
	margin-left: 1.2em;
}

.review-main .step-info p {
	margin: 0;
}

.mt-1 {
	margin-top: 15px;
}

@media screen and (max-width:767px) {
	.review {
		padding: 10px 20px;
	}
}